.custom-img {
  background-image: url('/munk-adidas-1.jpg'); /* default desktop image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

@media (max-width: 640px) {
  .custom-img {
    background-image: url('/munk-adidas-1-mobile.jpg'); /* mobile image */
  }
}
